{
    "extends": "react-app",
    "plugins": [
        "import"
    ],
    "rules": {
        "quotes": 0,
        "semi": 0,
        "indent": 0,
        "func-names": 0,
        "prefer-arrow-callback": 0,
        "no-console": 0,
        "space-before-function-paren": 0,
        "import/newline-after-import": 0,
        "new-cap": 0,
        "comma-dangle": 0,
        "no-plusplus": 0,
        "no-mixed-operators": 0,
        "react/prefer-stateless-function": 0,
        "react/jsx-indent": 0,
        "no-underscore-dangle": 0,
        "react/jsx-filename-extension": 0
    }
}
